@import url('http://fonts.cdnfonts.com/css/d-din');

.nav-container {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    width: 100%;
    /* background-color: wheat; */
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav-logo {
    /* background-color: brown; */
    padding-left: 5rem;
    padding-bottom: .5rem;
}

.nav-logo a {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(131deg) brightness(105%) contrast(105%);
}

.nav-inner {
    /* background-color: brown; */
    padding: 0rem 2rem
}

.nav-inner ul {
    display: flex;
    list-style-type: none;
    padding: 0 0;
}

.nav-inner a {
    text-decoration: none;
    padding: 0 1rem;
    font-family: 'D-DIN', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.nav-left {
    /* background-color: brown; */
    padding-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left a {
    font-family: 'D-DIN', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-right: 2rem;
}


   
   
   