.background {
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url('/Homepage_Desktop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}