---
import NavBar from '../components/Navbar';
import '../styles/Background.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section class="section">
			<div class="background"/>
			<div class="container">
				<NavBar />
			</div>
		</section>
	</body>
</html>
