---
import AstroNavbar from '../components/Navbar.astro';
import '../styles/index.css';
import '../styles/SectionOne.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section>
			<AstroNavbar />
			<div class="background"></div>
		</section>
	</body>
</html>
