---
import "../styles/Navbar.css";
import "../styles/btn.css";
---

<div class="nav-container">
    <div class="nav-logo">
        <a
            title="SpaceX, Public domain, via Wikimedia Commons"
            href="https://commons.wikimedia.org/wiki/File:SpaceX_logo_black.svg"
            ><img
                width="200"
                alt="SpaceX logo black"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/SpaceX_logo_black.svg/512px-SpaceX_logo_black.svg.png"
            />
        </a>
    </div>
    <div class="nav-inner">
        <ul>
            <li>
                <a href="/falcon-9">falcon 9</a>
            </li>
            <li>
                <a href="/falcon-9">falcon heavy</a>
            </li>
            <li>
                <a href="/falcon-9">dragon</a>
            </li>
            <li>
                <a href="/falcon-9">starship</a>
            </li>
            <li>
                <a href="/falcon-9">human spaceflight</a>
            </li>
            <li>
                <a href="/falcon-9">rideshare</a>
            </li>
            <li>
                <a href="/falcon-9">starlink</a>
            </li>
        </ul>
    </div>
    <div class="nav-left">
        <a href="https://shop.spacex.com/" target="_blank">shop</a>
        <div class="hamburger" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
</div>
